#button {
  background-color: #007fff !important;
  color: #fff !important;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  background-color: #007fff !important;
  color: #fff !important;
}

h2 {
  font-weight: 600;
}

/* do not group these rules */
*::-webkit-input-placeholder {
  color: #fff;
  padding-left: 10px;
}

*:-moz-placeholder {
  /* FF 4-18 */
  color: #fff;
  opacity: 1;
  padding-left: 10px;
}

*::-moz-placeholder {
  /* FF 19+ */
  color: #fff;
  opacity: 1;
  padding-left: 10px;
}

*:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  padding-right: 10px;
  text-align: right;
  padding-left: 10px;
}

*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
  padding-right: 10px;
  text-align: right;
  padding-left: 10px;
}

*::placeholder {
  /* modern browser */
  color: #fff;
  padding-right: 40px;
  text-align: right;
  padding-left: 10px;
}

.container {
  max-width: 208px;
  /*adjust it*/
  margin: auto;
  position: relative;
  display: inline-block;
  padding-right: 10px;
  padding-left: 20px;
  text-align: right;
  color: #fff;
  border: 0px solid;
}

#milliseconds {
  padding-right: 35px;
}

.ms {
  position: absolute;
  top: 2px;
  right: 25px;
}

select {
  border-radius: 20px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 35px;
  outline: none;
  background: rgba(0, 0, 0, 0) url(/src/assets/img/downArrow.png) no-repeat
    scroll calc(87% + 2px) center/12px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  font-weight: 500;
}

option {
  padding: 20px;
  color: #fff;
  background-color: #135d72;
  border-radius: 10px;
}

table{
  width: 100%;
  td{
    padding-top: 15px;
  }
}

thead{
  position: sticky;
  top: 0;
  background-color: #E8F9F7;
}
tbody{
  height: 200px !important;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}